<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
    <form action="/form" method="post" enctype="multipart/form-data">
        <label for="rollno">Roll No.</label>
        <input type="number" name="rollno" placeholder="Enter Roll"><br>
        <label for="image">Profile Picture</label>
        <input type="file" name="image" placeholder="choose file">        
        <button type="submit">submit</button>
    </form>  
    <% if(locals.user) {%>
        <img src="/images/uploads/<%= user.picture%>" width="200" height="200" style="border-radius: 3%;">  
        <%}else{%>
            <p>no image</p>
<% }%>
<footer><button><a href="/find">FIND</a></button></footer>
</center>
</body>

</html>